<!DOCTYPE html>
<html>
<head>
    <title>Useless Toolkit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<script src="http://localhost:35729/livereload.js"></script>

<body>
    <h1>🛠 KAEOSKIT 🛠</h1>
    <p>Select your tool of chaos:</p>
    <div class="button-container">
        <a href="/sabogpt" class="tool-btn">Sabogpt</a>
        <a href="/ageguesser" class="tool-btn">Age Guesser</a>
        <a href="/lifeadvices" class="tool-btn">Life Skills</a>
        <a href="/wonkycal" class="tool-btn">WonkyCal</a>
    </div>
</body>
</html>